<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <head th:replace="include/head"/>
    <link href="/plugins/switch/css/simple.switch.three.css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="include/header"/>
    <aside th:replace="include/sidebar"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <button class="btn btn-success" id="btn-add">新增</button>
                        </div>
                        <div class="box-body">
                            <table border="0" cellpadding="0" cellspacing="0" id="example"
                                   class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer th:replace="include/footer"/>
</div>
<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增人员</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">账号</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" placeholder="账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="密码">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-add">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/plugins/switch/js/simple.switch.js"></script>
<script>
    var dataTable = $('#example').DataTable({
        sort: false,
        lengthChange: false,
        serverSide: true,
        processing: true,
        info: true,
        pagingType: "full_numbers",
        language: chinese,
        pageLength: 10,
        autoWidth: false,
        dom: 'rtlip',
        ajax: {
            type: "POST",
            url: "/admin/list",
        },
        columnDefs: [{
            targets: 0,
            data: function (data, type, set, meta) {
                return data.username;
            }
        }, {
            targets: 1,
            data: function (data, type, set, meta) {
                return data.name;
            }
        }, {
            targets: 2,
            data: function (data, type, set, meta) {
                return data.status === 0 ? '禁用' : '启用';
            }
        }, {
            targets: 3,
            data: function (data, type, set, meta) {
                return `<a href="javascript:changeStatus(${data.id})">${data.status === 0 ? '启用' : '禁用'}</a>|<a href="javascript:deleteAdmin(${data.id})">删除<a>`;
            }
        }],
    });
    dataTable.on('xhr', function (e, settings, json) {
        if (json.recordsTotal == 0) {
            $("#table_wrapper").hide();
            $("#example_paginate").hide();
        } else {
            $("#table_wrapper").show();
            $("#example_paginate").show();
        }
    });
    $(document).on('init.dt', function (e, settings) {
        $(".checkbox").simpleSwitch({
            "theme": "Green"
        });
    });
    $("#btn-add").on("click", () => {
        $("#modal-add").modal("show");
    });
    $("#modal-btn-add").on("click", () => {
        const username = $("input[name='username']").val();
        const name = $("input[name='name']").val();
        const password = $("input[name='password']").val();
        $.post("/admin/save", {username, name, password}, (res) => {
            if (res.success) {
                $("#modal-save").modal("hide");
            } else {
            }
        });
    });

    function deleteAdmin(id) {
        if (confirm("确认要删除？")) {
            $.post(`/admin/delete/${id}`, (res) => {
                if (res.success) {
                    alert("删除成功");
                } else {
                    alert("删除失败");

                }
            });
        }
    }

    function changeStatus(id) {
        $.post(`/admin/changeStatus/${id}`, (res) => {
            if (res.success) {
                dataTable.ajax.reload();
            }
        });
    }
</script>
</html>
