<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <head th:replace="include/head"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="include/header"/>
    <aside th:replace="include/sidebar"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
        </section>
    </div>
    <footer th:replace="include/footer"/>
</div>
</body>
</html>
